{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "subscription-manager-cf",
  "main": "src/worker/index.ts",
  "compatibility_date": "2026-05-21",
  "assets": {
    "directory": "./dist",
    "binding": "ASSETS"
  },
  "vars": {
    "DEV_AUTH_EMAIL": "dev@example.com"
  },
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "subscription-manager",
      "database_id": "72562a65-0ac6-41bc-a8b8-897fae9239e6"
    }
  ]
}
